.navbar {
    text-align: right;
    margin: 15px;
}

.navbar .nav-i {
    font-size: 14px;  
    padding: 10px;
    text-decoration: none;
}

.navbar .nav-i:hover {
    text-decoration: underline;
}

.navbar .nav-i, .navbar .nav-i:visited {
    color: #000000DE;
}

#logo {
    display: block;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    height: 100px;
    width: 450px;
    margin: auto;
    margin-top: 110px;
}

#logo .logo-letter {
    margin: -7.5px;
}

.upper-search {
    margin: 10px;
}

.upper-search input[type="text"] {
    display: block;
    border-radius: 20px 20px 20px 20px;
    margin: auto;
    padding-left: 20px;
}

@media (min-width: 750px)
{
    .upper-search input[type="text"] {
        height: 35px;
        width: 500px;
    }
    
}

@media (max-width: 749px)
{
    .upper-search input[type="text"] {
        height: 35px;
        width: 75%;
    }
}

.upper-search input[type="text"]:hover {
    border: 1.5px solid #dadce0;
}

.lower-search {
    margin: 10px;
    text-align: center;
}

.lower-search input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    padding: 10px;
    margin: 5px;
}

.lower-search input[type="submit"]:hover, .upper-search input[type="text"], .upper-search input[type="text"]:focus {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    outline: none;
    border: 1px solid #dadce0;
}